.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# you have initFake and indexFake replace  fake values with real credentials and keys, and rename the files:
src/firebase/init.js
index.html

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
